<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smartreminder.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MainAppTheme" >
        <activity
            android:name="com.smartreminder.app.controller.TimeLineViewController"
            android:label="Smart Reminder" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.smartreminder.app.controller.EventViewController"
            android:label="Event"
            android:theme="@style/SubAppTheme" >
        </activity>
        <activity
            android:name="com.smartreminder.app.controller.EditViewController"
            android:label="Edit" >
        </activity>
        <activity
            android:name="com.smartreminder.app.controller.SetDateTimeViewController"
            android:label="Set Date and Time" >
        </activity>
        <activity
            android:name=".controller.AccountViewController"
            android:label="@string/title_activity_account_view_controller" >
        </activity>
        <activity
            android:name="com.smartreminder.app.controller.SettingsViewController"
            android:label="@string/title_activity_settings_view_controller" >
        </activity>

        <service android:name="com.smartreminder.app.service.SmartReminderAlertService">

        </service>



        <provider
            android:authorities="com.smartreminder.app"
            android:name="com.smartreminder.app.module.EventProvider">
        </provider>

        <uses-permission android:name="android.permission.CAMERA"/>
        <uses-permission android:name="android.permission.LOCATION"/>
        <uses-permission android:name="android.permission.WIFI"/>

        <uses-feature android:name="android.hardware.Camera" />
        <uses-feature android:name="android.location.Location"/>
        <uses-feature android:name="android.net.wifi.WifiManager"/>
        <uses-feature android:name="android.net.ConnectivityManager"/>
        <uses-feature android:name="android.telephony.SmsMessage"/>
    </application>

</manifest>
